body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
@font-face {
  font-family: "FZZJ-YZDKJW";
  src: url("./assets/fonts/FZZJ-YZDKJW.TTF") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "FZZJ-YZDKJW-Regular";
  src: url("./assets/fonts/FZZJ-YZDKJW.TTF") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
